version: '3.8'
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: school1
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
